<!--
  Ruth Rosenblum, Chami Lamelas, Eitan Joseph
  1.0.0
  https://github.com/EitanJoseph/SCARES-Mini-Tool
  This EJS file contains the HTML elements for the map mode of the mini tool.
-->

<html>
  <!-- 
    Head of the file. Here the necessary scripts (with the exception of map.js) are imported.
  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <title>Map Mode</title>

    <!-- 
      Links the necessary external script files: JQuery, D3 
    -->
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>

    <!--
      Links the necessary local script files: map_mode.js (sends query to server), map_mode_lib.js (library for
      handling HTML element inputs on this page), BEAZone_lib.js (handles HTML element inputs on this page for 
      beazone mode)
    -->
    <script type="text/javascript" src="scripts/map_mode/map_mode.js"></script>
    <script
      type="text/javascript"
      src="scripts/map_mode/map_mode_lib.js"
    ></script>
    <script
      type="text/javascript"
      src="scripts/map_mode/BEAZone_lib.js"
    ></script>

    <!-- Links the style sheet -->
    <link rel="stylesheet" href="scripts/map_mode/map_mode_styles.css" />
  </head>

  <!-- 
    Here is the body of the page. When it is loaded, the map is updated and scrollTop() is used to make sure the
    page starts at the top (the user input menus extend downwards).
    
    It is organized in the following manner: 

  -->
  <body onload="updateMap(true); $(this).scrollTop(0);">
    <!-- 
      This button is used to reset the map. That is, when the user wants to reset to no state being clicked on. 
    -->
    <button
      style="float:right; margin-right: 35px; margin-top: 35px;"
      id="reset"
      onclick="resetMap()"
    >
      Reset
    </button>

    <!-- 
      This button is used to update the map based on the new selections the user has made in the various input 
      areas on the page. 
    -->
    <button
      style="float: right; margin-right: 5px; margin-top: 35px"
      id="go"
      onclick="updateMap(false)"
    >
      Go
    </button>

    <!-- 
      This dropdown menu is used to select the various views/modes in the tool. That is, from this point, you can 
      be redirected to the bar graph and line graph modes.
    -->
    <select
      style="float: right; margin-right: 5px; margin-top: 35px; width: 160px; height: 40px; font-size: large; border: 2px solid #000000"
      id="view_mode_select_id"
      name="view_mode_select"
      onchange="location=this.value"
      ;
    >
      <option value="map_mode">Map Mode</option>
      <option value="bar_mode">Bar Graph Mode</option>
      <option value="line_mode">Line Graph Mode</option>
    </select>

    <!--
      This dropdown menu is used to select state mode or beazone mode of the map. That is, the US is segregated by
      states v. beazones.
    -->
    <select
      style="float: right; margin-right:5px; margin-top: 35px; width: 160px; height: 40px; font-size: large; border: 2px solid #000000"
      id="display_modes"
      onchange="updateLocationView()"
    >
      <option value="state">State Mode</option>
      <option value="beazone">BEA Zone Mode</option>
    </select>

    <!-- 
      This first div is used to display a description of this mode for the user. 
    -->
    <div style="float: left; margin-left: 30px;">
      <h1>HEJP Postdoctoral Data</h1>
      <div style="width:1400">
        The map below displays HEJP Postdoctoral data per state based on the
        settings at right. Adjust some settings and then click "Go" to retrieve
        new data. After clicking "Go", you can click on a state to see the out
        of state postings for that state. Use reset map to return to the
        previous country wide job display for your most recent settings.
      </div>
    </div>

    <!--
      This div contains 2 "children" divs where the first is the map and the second is the input area for the user. 
    -->
    <div class="grid-container" style="float:right;">
      <!-- 
        This div holds the map. For some  reason, map.js needs to be imported here.
      -->
      <div id="map-holder" class="grid-child purple" style="margin-right:0px">
        <script type="text/javascript" src="scripts/map_mode/map.js"></script>
      </div>

      <!--
        This div holds the input areas (year sliders, )
      -->
      <div class="grid-child green" style="margin-left:0px; margin-right: 10px">
        <!-- Description to be placed above year sliders -->
        <h4>Year Range</h4>
        <p>
          This will yield results between the lower and upper years selected
          below (inclusive). To view results for just one year, set both the
          lower and the upper years to that year.
        </p>

        <!-- Lower year (year 1) selection input area -->
        <p></p>
        Current Lower Year:

        <!-- Label of the current year that's been selected -->
        <label id="year1Label" style="margin-left: 0px;">2007</label>
        <p></p>

        <!-- Lower year bound (2007) -->
        <label style="margin-left: 20px;">2007</label>

        <!-- Slider to select the lower year -->
        <input
          type="range"
          name="marjanslider"
          min="2007"
          max="2017"
          value="2007"
          class="slider"
          id="year1Slider"
          onchange="updateYears()"
        />

        <!-- Upper year bound (2017) -->
        <label>2017</label>

        <p></p>

        Current Higher Year:
        <!-- Label of the current year that's been selected -->
        <label id="year2Label" style="margin-left: 0px;">2017</label>
        <p></p>

        <!-- Lower year bound (2007) -->
        <label style="margin-left: 20px">2007</label>

        <!-- Slider to select the upper year -->
        <input
          type="range"
          name="marjanslider"
          min="2007"
          max="2017"
          value="2017"
          class="slider"
          id="year2Slider"
          onchange="updateYears()"
        />

        <!-- Upper year bound (2017) -->
        <label>2017</label>

        <p></p>

        <!-- Description to be placed above career areas input area -->
        <h4>Career Areas</h4>
        <p>
          Leaving all boxes unchecked will yield results for all career areas.
        </p>

        <!-- 
          This div will "fake" a dropdown menu of checkboxes. When the user mouses out, then the division is hidden to
          simulate the dropdown menu closing upwards. 
        -->
        <div
          style="width: 335px"
          onmouseleave="hideDiv('careerarea_checkboxes')"
        >
          <!-- The dropdown menu is triggered by clicking a button that imitates the look of a dropdown menu -->
          <button
            onclick="viewDiv('careerarea_checkboxes')"
            style="width:160px; height:25px; font-size:small; background-color: white; color:black; margin-bottom:0px"
          >
            Select a Career Area ▼
          </button>

          <!-- This div will hold divisions of each checkbox in the faked dropdown -->
          <div
            id="careerarea_checkboxes"
            style="display: none; border: 2px solid; width: 335px"
            class="checkbox_select"
          >
            <br />
            <div>
              <input
                type="checkbox"
                id="checkbox1"
                name="checkbox_select"
                onclick="updateCheckBox(1)"
              />
              <label id="label1" for="checkbox1">Planning and Analysis</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox2"
                name="checkbox_select"
                onclick="updateCheckBox(2)"
              />
              <label id="label2" for="checkbox2">Engineering</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox3"
                name="checkbox_select"
                onclick="updateCheckBox(3)"
              />
              <label id="label3" for="checkbox3"
                >Agriculture, Horticulture, & the Outdoors</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox4"
                name="checkbox_select"
                onclick="updateCheckBox(4)"
              />
              <label id="label4" for="checkbox4"
                >Customer and Client Support</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox5"
                name="checkbox_select"
                onclick="updateCheckBox(5)"
              />
              <label id="label5" for="checkbox5">Science and Research</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox6"
                name="checkbox_select"
                onclick="updateCheckBox(6)"
              />
              <label id="label6" for="checkbox6">Sales</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox7"
                name="checkbox_select"
                onclick="updateCheckBox(7)"
              />
              <label id="label7" for="checkbox7">Education and Training</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox8"
                name="checkbox_select"
                onclick="updateCheckBox(8)"
              />
              <label id="label8" for="checkbox8"
                >Health Care including Nursing</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox9"
                name="checkbox_select"
                onclick="updateCheckBox(9)"
              />
              <label id="label9" for="checkbox9">Information Technology</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox10"
                name="checkbox_select"
                onclick="updateCheckBox(10)"
              />
              <label id="label10" for="checkbox10">Finance</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox11"
                name="checkbox_select"
                onclick="updateCheckBox(11)"
              />
              <label id="label11" for="checkbox11">Other</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox12"
                name="checkbox_select"
                onclick="updateCheckBox(12)"
              />
              <label id="label12" for="checkbox12"
                >Law, Compliance, and Public Safety</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox13"
                name="checkbox_select"
                onclick="updateCheckBox(13)"
              />
              <label id="label13" for="checkbox13">Performing Arts</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox14"
                name="checkbox_select"
                onclick="updateCheckBox(14)"
              />
              <label id="label14" for="checkbox14"
                >Hospitality, Food, and Tourism</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox15"
                name="checkbox_select"
                onclick="updateCheckBox(15)"
              />
              <label id="label15" for="checkbox15"
                >Marketing and Public Relations</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox16"
                name="checkbox_select"
                onclick="updateCheckBox(16)"
              />
              <label id="label16" for="checkbox16"
                >Design, Media, and Writing</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox17"
                name="checkbox_select"
                onclick="updateCheckBox(17)"
              />
              <label id="label17" for="checkbox17">Transportation</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox18"
                name="checkbox_select"
                onclick="updateCheckBox(18)"
              />
              <label id="label18" for="checkbox18">Personal Services</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox19"
                name="checkbox_select"
                onclick="updateCheckBox(19)"
              />
              <label id="label19" for="checkbox19"
                >Maintenance, Repair, and Installation</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox20"
                name="checkbox_select"
                onclick="updateCheckBox(20)"
              />
              <label id="label20" for="checkbox20"
                >Business Management and Operations</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox21"
                name="checkbox_select"
                onclick="updateCheckBox(21)"
              />
              <label id="label21" for="checkbox21"
                >Manufacturing and Production</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox22"
                name="checkbox_select"
                onclick="updateCheckBox(22)"
              />
              <label id="label22" for="checkbox22"
                >Construction, Extraction, and Architecture</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox23"
                name="checkbox_select"
                onclick="updateCheckBox(23)"
              />
              <label id="label23" for="checkbox23"
                >Community and Social Services</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox24"
                name="checkbox_select"
                onclick="updateCheckBox(24)"
              />
              <label id="label24" for="checkbox24"
                >Clerical and Administrative</label
              >
            </div>
            <div>
              <input
                type="checkbox"
                id="checkbox25"
                name="checkbox_select"
                onclick="updateCheckBox(25)"
              />
              <label id="label25" for="checkbox25">Human Resources</label>
            </div>
            <br />
          </div>

          <!-- This holds the description of the division (science, humanities, etc.) selection menu for the user. -->
          <h4>Division</h4>
          <p>
            Use the dropdown menu below to restrict the job results to a
            specific division.
          </p>

          <!-- Here, an actual HTML selection dropdown menu is used to select from the list of divisions -->
          <select
            id="division_select_id"
            name="division_select"
            onchange="updateDivisionSelection()"
          >
            <option value="unrestricted">Any division</option>
            <option value="soc_sci">Social Sciences</option>
            <option value="sci">Sciences</option>
            <option value="hum">Humanities</option>
            <option value="other">Other</option>
          </select>

          <!-- Here is the description of the job type selection area (part time, full time, etc.) -->
          <h4>Job Type</h4>
          <p>
            Use the dropdown menu below to restrict the job results to a
            specific job type. Not selecting a specific job type will yield
            results from all job types.
          </p>

          <!-- Here, an actual HTML selection dropdown menu is used to select from the list of possible job types -->
          <select id="jobTypeSelect" onchange="updateJobType()">
            <option value="unrestricted">Any job type</option>
            <option value="tenured">Tenured</option>
            <option value="tenured_track">Tenured Track</option>
            <option value="contingent">Contingent</option>
            <option value="fulltime">Full Time</option>
            <option value="parttime">Part Time</option>
            <option value="tenureline">Tenure Line</option>
          </select>

          <br />

          <!-- 
            Here is the description of the institution length selection area (2 year, 4 year, etc.), the ownership
            area (public, private), and research type (R1 or not). 
          -->
          <h4>Institution Type</h4>
          <p>
            Use the left dropdown menu to choose if the institution is either
            two year or four year. Use the right dropdown menu to choose if the
            institution is public or private. Use the checkbox to restrict your
            results to research 1 institutions. If you don't select an option in
            either of the dropdown menus then results from all choices will be
            shown.
          </p>

          <!-- Here, an actual HTML selection dropdown menu is used to select from the list of possible lengths -->
          <div>
            <select id="inst_length" onchange="updateInstitutionLength()">
              <option value="unrestricted">2 or 4 Year</option>
              <option value="twoyear">2 Year</option>
              <option value="fouryear">4 Year</option>
            </select>

            <!-- Here, an actual HTML selection dropdown menu is used to select from the list of possible ownerships -->
            <select id="inst_ownership" onchange="updateInstitutionOwnership()">
              <option value="unrestricted">Public or Private</option>
              <option value="public">Public</option>
              <option value="private">Private</option>
            </select>

            <!-- A single checkbox + label are used to determine if job is R1 or not -->
            <input
              type="checkbox"
              id="isr1_checkbox"
              style="margin-left:10px"
              onclick="updateIsR1()"
            />
            <label for="isr1_checkbox">R1 only</label>
          </div>
        </div>
        <br /><br />
      </div>
    </div>
  </body>
</html>
